input[type="radio"]{
	margin-left: 50px;
}

.answer-block{
	border: none;
	text-align: left;
	margin-top: 30px;
	font-size: 17px;
}

.question{
	text-align: left;
	margin-left: 50px;
	font-size: 20px;
}

.question-button{
	display: inline-block;
	margin-top: 50px;
	width: 150px;
	height: 50px;
	font-size: 15px;
}

.question-status{
	text-align: right;
	width: 100%;
	margin-top: 50px;
}

.question-status-number{
	float: left;
	padding-left: 10px;
}